.header {
    font-family: $font-nav;
    .navbar {
        .navbar-nav {
            width: 60%;
        }
    
        .nav-link {
            font-size: .85em;
            color: $black !important;
            text-transform: uppercase;
            font-weight: 500;
            opacity: .9;
    
            &:hover {
                color: $blue !important;
            }
    
        }
    
    }
}