.card {
    @include shadow-card;
    margin-bottom: 2rem;

    .card-title {
        font-size: 1.3em;
        margin-bottom: 1rem;
    }
    
}

/* Íconos de fondo */
.icon-card {
    font-size: 6em;
    opacity: .11;
    color: $blue;
}

.card-image {
    opacity: .85;
    transition: opacity 1s;
    &:hover {
        opacity: 1 !important;
    }
}