.background-blue {
    @include background-blue(.8);
}

.background-points {
    background-image: url('../images/pattern.png');
    background-size: 270px;
}

.container-top {
    margin-top: 12em;
}

.texts {
    @include background-blue(0.2);
    border-left: 2px solid $blue;
    color: $white;
}

.lead {
    font-size: 1em;
}

.contact-info {
    font-size: .9em;
}

.line {
    display: inline-block;
    border-bottom: 3px solid rgba(80, 92, 253, .5);
}

.icon {
    font-size: 1em;
    color: $blue;
    opacity: .8;
}

.social {
    img {
        width: 22px;
    }
}