/* Cover page */
@media only screen and ( max-width: 1200px ) {

    .cover-page {
        background-position: center;
    }

    /* Internships */
    .internships {
        background-position: right 150px;
    }
    .interships-info {
        .col-md-7 {
            background-position: right center;
        }
    }
    
    .services {
        .card {
            margin-bottom: 4rem !important;
        }
    }

    .interships-info {
        .info {
            padding-left: 1rem;
        }
    }

}

@media only screen and ( max-width: 768px ) {
    .cover-page, .internships {
        margin-top: 10rem !important;
    }
}

