/* Colors */

$white: #fff;
$black: #434445;
$blue: #505cfd;
$grey: #f3f1f1;


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

$font-nav: 'Lato', sans-serif;
$font-global: 'Raleway', sans-serif;