form textarea:focus, form input[type]:focus {
  border-color: rgba(80, 92, 253, 0.3) !important;
  outline: 0 none;
  -webkit-box-shadow: 0 1px 1px rgba(80, 92, 253, 0.1) inset, 0 0 5px rgba(80, 92, 253, 0.7) !important;
  box-shadow: 0 1px 1px rgba(80, 92, 253, 0.1) inset, 0 0 5px rgba(80, 92, 253, 0.7) !important;
  -webkit-transition: border 1s, outline 1s, -webkit-box-shadow 1s;
  transition: border 1s, outline 1s, -webkit-box-shadow 1s;
  -o-transition: box-shadow 1s, border 1s, outline 1s;
  transition: box-shadow 1s, border 1s, outline 1s;
  transition: box-shadow 1s, border 1s, outline 1s, -webkit-box-shadow 1s; }

form textarea {
  resize: none; }
