
<!-- About-->
<div class="container about">
  <div class="row">
    <div class="col-md-5 background-image rounded d-none d-md-block"></div>
    <div class="col-md-7 d-flex flex-column justify-content-between p-5">
      <h3 class="mb-5">Sobre<span class="line">nosotros</span></h3>
      <p class="text-justify mb-3 lead">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <p class="text-justify mb-3 lead">
        Lorem Ipsum ha
        sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T.
        persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal
        manera que logró hacer un libro de textos especimen.
      </p>
      <p class="text-justify mb-5 lead">
        El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al
        contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
      </p><a class="btn btn-primary align-self-end" href="index.html#contact">Contactar</a>
    </div>
  </div>
</div>
<!-- End about-->