
<!-- Contact-->
<section class="container container-top contact" id="contact">
  <div class="row">
    <div class="col-md-5">
      <div class="text-center text-md-left">
        <h3 class="text-uppercase mb-5">Co<span class="line">ntac</span>to</h3>
        <p class="lead">Si tiene alguna pregunta, solo complete el formulario de contacto y le responderemos en breve.</p>
        <p class="lead mb-5">También tiene a su disposición distintas formas de contactarnos.</p>
      </div>
      <!-- Form-->
      <form class="d-flex flex-column justify-content-between" action="">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control rounded-0" type="text" placeholder="Nombre completo"/>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control rounded-0" type="email" placeholder="Correo electrónico"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control rounded-0" type="text" placeholder="Asunto"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control rounded-0 mb-3" placeholder="Mensaje"></textarea>
        </div>
        <div class="form-group align-self-end">
          <input class="btn btn-primary" type="submit"/>
        </div>
      </form>
      <!-- End form-->
      <!-- Ubication-->
      <div class="col-md-7 mt-5 m-md-0">
        <div class="text-center text-md-left">
          <h3 class="text-uppercase mb-5">Ub<span class="line">icaci</span>ón</h3>
          <div class="mb-3"><span class="icon mr-1"><i class="fas fa-map-marker-alt"></i></span><span class="lead">Av Jose Larco 453-497, Miraflores</span></div>
        </div>
        <!-- Maps-->
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.857217037325!2d-77.0328443856168!3d-12.12192034660255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c819733707fb%3A0x1e5a74acd2420786!2sParque+Kennedy%2C+Miraflores!5e0!3m2!1ses-419!2spe!4v1549510301536" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        <!-- End maps-->
        <!-- end ubication-->
      </div>
    </div>
  </div>
</section>
<!-- End contact-->