
<!-- Footer-->
<section class="container-top border-top">
  <footer class="container footer py-5">
    <div class="row">
      <!-- Info-->
      <div class="col-md-3 px-3 d-none d-md-block">
        <div class="w-75 m-auto"><img class="img-fluid mb-3" src="images/logo.png" alt="Logotipo"/></div>
        <p class="lead text-justify">
          Somos una firma de abogados constituída en Perú con una destacada trayectoria de más de 10 años.
          Brindamos asesoría legal personalizada a personas naturales y jurídicas a nivel nacional.
        </p>
      </div>
      <!-- Info-->
      <!-- Newsletter-->
      <div class="col-md-5 px-md-5">
        <h5 class="h5 text-uppercase mb-3">Bo<span class="line">let</span>ín</h5>
        <p class="text-justify">
          Suscríbase a nuestro boletín y sea el primero en conocer las últimas noticias, ofertas
          especiales, eventos y descuentos.
        </p>
        <form action="">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Correo electrónico"/>
          </div>
          <div class="form-group">
            <input class="btn btn-block btn-primary" type="submit" value="Suscribirme"/>
          </div>
        </form>
      </div>
      <!-- End Newsletter-->
      <!-- Info contact-->
      <div class="col-md-4">
        <div class="mb-5">
          <h5 class="h5 text-uppercase mb-3">Ub<span class="line">icaci</span>ón</h5>
          <p><span class="icon mr-1"><i class="fas fa-map-marker-alt"></i></span>                            Av Jose Larco 453-497, Miraflores</p>
          <p><span class="icon mr-1"><i class="far fa-clock"></i></span>                            lunes a viernes de 9:00 a.m. a 6:00 p.m.</p>
        </div>
        <div class="mb-3">
          <h5 class="h5 text-uppercase mb-3">Co<span class="line">ntac</span>to</h5>
          <!-- Icons contact--><span class="icon mr-1"><i class="fas fa-phone"></i></span><span class="text-muted mr-2">01 2795457</span><span class="icon mr-1"><i class="fas fa-mobile"></i></span><span class="text-muted mr-3">937-981-899</span>
          <!-- Icons contact-->
          <!-- Icons social--><a class="text-decoration-none" href="#"><i class="fab fa-facebook-f"></i></a><a class="text-decoration-none" href="#"><i class="fab fa-twitter"></i></a><a class="text-decoration-none" href="#"><i class="fab fa-linkedin-in"></i></a>
          <!-- End icons social-->
          <!-- End info contact-->
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright text-center bg-dark text-white p-3">© 2019 Erick HL. Todos los derechos reservados.</div>
</section>
<!-- End footer-->