
<!-- Internships-->
<section class="internships w-100">
  <div class="content w-100">
    <div class="container pt-md-5">
      <div class="row py-md-5">
        <div class="col-md-8 col-xl-6 d-flex flex-column">
          <h2 class="mt-5">Programa de <b>Pasantías</b></h2>
          <div class="texts pl-3 mb-md-3">
            <p class="lead my-3">
              Nuestra firma brinda la oportunidad a jóvenes recién egresados o con poca experiencia
              a aplicar al programa de pasantías, donde aprenderán de nuestros expertos.
            </p>
          </div><a class="btn btn-primary align-self-end mr-2 mb-5" href="pasantias.html#info">Aplicar</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Internships-->