
<!-- Post-->
<div class="col-md-12 mb-5">
  <div class="card mb- border-0"><img class="card-img-top" src="images/carousel-background.jpg" alt="Post image"/>
    <div class="card-body">
      <h5 class="h3 card-title">Últimos cambios en la constitución política</h5>
      <p class="card-text lead mb-4 d-none d-md-block">
        Lorem Ipsum ha
        sido el texto de relleno estándar de las industrias desde el año 1500, cuando un
        impresor
        (N. del T.
        persona que se dedica a la imprenta) desconocido usó una... <a href="post.html">Leer más</a>
      </p>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <p class="d-inline">Por <a href="">Admin</a></p>
        <div>
          <p class="card-text d-inline text-muted mr-3"><span class="icon mr-1"><i class="far fa-comment"></i></span><small>5</small></p>
          <p class="card-text d-inline text-muted"><span class="icon mr-1"><i class="far fa-clock"></i></span><small>Hace 5 minutos</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End post-->