
<!-- Header-->
<header class="header bg-white fixed-top" id="header">
  <div class="container contact-info d-flex justify-content-between flex-wrap p-3 p-md-0 pt-md-3 border-bottom">
    <p class="ml-3 pr-md-5 border-right"><span class="icon mr-1"><i class="far fa-envelope"></i></span><span class="text-muted">lawfirm@mail.com</span></p>
    <p class="pr-md-5 border-right"><span class="icon mr-1"><i class="fas fa-phone"></i></span><span class="text-muted">01 2795457</span></p>
    <p class="pr-md-5 border-right"><span class="icon mr-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-muted">Av Jose Larco 453-497, Miraflores</span></p>
    <div class="social"><a class="text-decoration-none ml-2" href="#"><i class="fab fa-facebook-f"></i></a><a class="text-decoration-none ml-2" href="#"><i class="fab fa-twitter"></i></a><a class="text-decoration-none ml-2" href="#"><i class="fab fa-linkedin-in"></i></a></div>
  </div>
  <nav class="navbar navbar-expand-lg bg-white" id="navbar">
    <div class="container p-0"><a class="navbar-brand mr-0" href="index.html"><img src="images/logo.png" alt="logo" width="200px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-align-justify"></i></button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto d-flex justify-content-between">
          <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="sobre-nosotros.html">Sobre nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#services">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" href="pasantias.html">Pasantías</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        </ul><a class="btn btn-outline-primary my-2 my-sm-0" href="index.html#contact">Contacto</a>
      </div>
    </div>
  </nav>
</header>
<!-- End header-->