
<!-- Newsletter-->
<h5 class="h5 text-uppercase mb-3">Bo<span class="line">let</span>ín</h5>
<p class="text-justify lead">
  Suscríbase a nuestro boletín y sea el primero en conocer las últimas noticias,
  eventos sobre nuestra empresa.
</p>
<form action="">
  <div class="form-group">
    <input class="form-control rounded-0" type="text" placeholder="Correo electrónico"/>
  </div>
  <div class="form-group">
    <input class="btn btn-block btn-primary" type="submit" value="Suscribirme"/>
  </div>
</form>
<!-- End Newsletter-->