
<div class="col-md-4 px-4">
  <form class="form-inline mb-5" action="">
    <div class="form-group w-100">
      <input class="form-control rounded-0 w-75" type="text" placeholder="Buscar en el blog"/>
      <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </form>
  <h5 class="h5 text-uppercase mb-3">Publicaciones<span class="line">recientes</span></h5>
  <div class="recent-posts mt-5">
    <div class="border-bottom mb-3"><a href="">
        <p class="text-justify m-0">Últimos cambios en la constitución política</p></a>
      <p class="card-text d-inline text-muted"><span class="icon mr-1"><i class="far fa-clock"></i></span><small>Hace 5 minutos</small></p>
    </div>
    <div class="border-bottom mb-3"><a href="">
        <p class="text-justify m-0">Se abrió convocatoria para pasantías en Law firm</p></a>
      <p class="card-text d-inline text-muted"><span class="icon mr-1"><i class="far fa-clock"></i></span><small>Hace 5 minutos</small></p>
    </div>
    <div class="border-bottom mb-3"><a href="">
        <p class="text-justify m-0">Coimas a nivel empresarial ahora serán sancionadas penalmente</p></a>
      <p class="card-text d-inline text-muted"><span class="icon mr-1"><i class="far fa-clock"></i></span><small>Hace 5 minutos</small></p>
    </div>
  </div>
</div>