
<!-- Services-->
<section class="container services container-top" id="services">
  <div class="text-center">
    <h3 class="text-uppercase mb-4">Áre<span class="line">as de práct</span>ica</h3>
    <p class="w-75 mx-auto mb-5 lead">
      Ofrecemos asesoramiento integral, especializado y personalizado que comprende todas las áreas del
      Derecho ofreciendo así un completo servicio a personas naturales y jurídicas.
    </p>
  </div>
  <!-- Cards services-->
  <div class="row">
    <div class="col-md-4">
      <div class="card border-0" style="width: 100%;">
        <div class="card-body position-relative d-flex justify-content-center align-items-center"><span class="icon-card"><i class="fas fa-gavel"></i></span></div>
        <div class="position-absolute w-100 h-100 p-3">
          <h5 class="card-title mb-4">Derecho <span class="line">penal</span></h5>
          <p class="card-text text-justify">
            Contamos con un equipo de Abogados especializados en Derecho penal,
            los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
            policiales, fiscales y judiciales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 100%;">
        <div class="card-body position-relative d-flex justify-content-center align-items-center"><span class="icon-card"><i class="fas fa-male"></i></span></div>
        <div class="position-absolute w-100 h-100 p-3">
          <h5 class="card-title mb-4">Derecho <span class="line">civil</span></h5>
          <p class="card-text text-justify">
            Contamos con un equipo de Abogados especializados en Derecho civil,
            los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
            policiales, fiscales y judiciales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 100%;">
        <div class="card-body position-relative d-flex justify-content-center align-items-center"><span class="icon-card"><i class="fas fa-university"></i></span></div>
        <div class="position-absolute w-100 h-100 p-3">
          <h5 class="card-title mb-4">Derecho <span class="line">Constitucional</span></h5>
          <p class="card-text text-justify">
            Contamos con un equipo de Abogados especializados en Derecho constitucional,
            los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
            policiales, fiscales y judiciales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 100%;">
        <div class="card-body position-relative d-flex justify-content-center align-items-center"><span class="icon-card"><i class="fas fa-handshake"></i></span></div>
        <div class="position-absolute w-100 h-100 p-3">
          <h5 class="card-title">Derecho <span class="line">comercial</span></h5>
          <p class="card-text lead text-justify">
            Contamos con un equipo de Abogados especializados en Derecho comercial,
            los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
            policiales, fiscales y judiciales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 100%;">
        <div class="card-body position-relative d-flex justify-content-center align-items-center"><span class="icon-card"><i class="fas fa-leaf"></i></span></div>
        <div class="position-absolute w-100 h-100 p-3">
          <h5 class="card-title mb-4">Derecho <span class="line">ambiental</span></h5>
          <p class="card-text text-justify">
            Contamos con un equipo de Abogados especializados en Derecho ambiental,
            los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
            policiales, fiscales y judiciales.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 100%;">
        <div class="card-body position-relative d-flex justify-content-center align-items-center"><span class="icon-card"><i class="fas fa-money-bill"></i></span></div>
        <div class="position-absolute w-100 h-100 p-3">
          <h5 class="card-title mb-4">Derecho <span class="line">tributario</span></h5>
          <p class="card-text text-justify">
            Contamos con un equipo de Abogados especializados en Derecho tributario,
            los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
            policiales, fiscales y judiciales.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End card services-->
  <div class="text-center pt-5 p-md-0"><a class="btn btn-primary mt-md-4 mt-lg-1" href="index.html#contact">Solicitar servicios</a></div>
</section>
<!-- End services-->