
<!-- Team-->
<section class="container team container-top p-3">
  <div class="text-center">
    <h3 class="text-uppercase mb-4">Nue<span class="line">stro equ</span>ipo</h3>
    <p class="w-75 mx-auto mb-5 lead">
      Contamos con los mejores abogados del país, especializados en áreas específicas del Derecho para
      brindar
      soluciones rápidas y efectivas.
    </p>
  </div>
  <!-- Cards team-->
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid rounded card-image" src="images/team/a1.jpg" alt="Lorena Reyes"/></div>
            <div class="col-md-8 d-flex flex-column">
              <h5 class="card-title pt-3 pt-md-0">Lorena<span class="line">Reyes</span></h5>
              <p class="card-text">Especialista en Derecho Civil.</p><span class="text-muted">loreyes@lawfirm.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid rounded card-image" src="images/team/a2.jpg" alt="Fernando Mago"/></div>
            <div class="col-md-8 d-flex flex-column">
              <h5 class="card-title pt-3 pt-md-0">Fernando<span class="line">Mago</span></h5>
              <p class="card-text">Especialista en Derecho Penal.</p><span class="text-muted">fermago@lawfirm.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid rounded card-image" src="images/team/a3.jpg" alt="Jesús Coello"/></div>
            <div class="col-md-8 d-flex flex-column">
              <h5 class="card-title pt-3 pt-md-0">Jesús<span class="line">Coello</span></h5>
              <p class="card-text">Especialista en Derecho tributario.</p><span class="text-muted">jecoello@lawfirm.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid rounded card-image" src="images/team/a4.jpg" alt="Luis Maura"/></div>
            <div class="col-md-8 d-flex flex-column">
              <h5 class="card-title pt-3 pt-md-0">Luis<span class="line">Maura</span></h5>
              <p class="card-text">Especialista en Derecho Constitucional.</p><span class="text-muted">lumaura@lawfirm.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid rounded card-image" src="images/team/a5.jpg" alt="Fernando Molina"/></div>
            <div class="col-md-8 d-flex flex-column">
              <h5 class="card-title pt-3 pt-md-0">Fernando<span class="line">Molina</span></h5>
              <p class="card-text">Especialista en Derecho comercial.</p><span class="text-muted">fermolina@lawfirm.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid rounded card-image" src="images/team/a6.jpg" alt="Over Días"/></div>
            <div class="col-md-8 d-flex flex-column">
              <h5 class="card-title pt-3 pt-md-0">Over<span class="line">Díaz</span></h5>
              <p class="card-text">Especialista en Derecho ambiental.</p><span class="text-muted">ovedias@lawfirm.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End cards team-->
  <div class="text-center"><a class="btn btn-primary" href="index.html#contact">Solicitar servicios</a></div>
</section>
<!-- End team-->