
<!-- Testimonies-->
<section class="container container-top testimonies">
  <div class="row d-flex justify-content-center">
    <div class="col-md-11 p-0 rounded">
      <div class="background-blue rounded w-100 d-flex justify-content-center align-items-center">
        <!-- Carousel-->
        <div class="carousel slide" id="carouselContent" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#carouselContent" data-slide-to="0"></li>
            <li data-target="#carouselContent" data-slide-to="1"></li>
            <li data-target="#carouselContent" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-center p-4">
              <p class="lead mb-4 text-white">
                <q>Recomiendo este estudio por su profesionalismo, dedicación y excelente atención.</q>
              </p><span class="h3 text-white d-inline-block mb-4">Lorena Reyes</span>
            </div>
            <div class="carousel-item text-center p-4">
              <p class="lead text-white mb-4">
                <q>
                  Me recomendaron este estudio y ahora yo hago lo mismo,
                  son los mejores resolviendo cualquier tipo de casos.
                </q>
              </p><span class="h3 text-white d-inline-block mb-4">Jesús Coello</span>
            </div>
            <div class="carousel-item text-center p-4">
              <p class="lead mb-4 text-white">
                <q>
                  Profesionales altamente calificados, apoyo total y continuo. El mejor estudio
                  de abogados, lo recomiendo totalmente.
                </q>
              </p><span class="h3 text-white d-inline-block mb-4">Fernando Mago</span>
            </div>
          </div>
        </div>
        <!-- End carousel-->
      </div>
    </div>
  </div>
</section>
<!-- End testimonies-->