// Services
section#services.container.services.container-top
    .text-center
        h3.text-uppercase.mb-4
            | Áreas de 
            span.line práctica
        p.w-75.mx-auto.mb-5.lead
            | Ofrecemos asesoramiento integral, especializado y personalizado que comprende todas las áreas del
            | Derecho ofreciendo así un completo servicio a personas naturales y jurídicas.
    // Cards services
    .row
        // Service 1
        .col-md-4
            .card.border-0(style='width: 100%;')
                .card-body.position-relative.d-flex.justify-content-center.align-items-center
                    span.icon-card
                        i.fas.fa-gavel
                .position-absolute.w-100.h-100.p-3
                    h5.card-title.mb-4
                        | Derecho 
                        span.line penal
                    p.card-text.text-justify
                        | Contamos con un equipo de Abogados especializados en Derecho penal,
                        | los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
                        | policiales, fiscales y judiciales.
        // End service 1

        // Service 2
        .col-md-4
            .card.border-0(style='width: 100%;')
                .card-body.position-relative.d-flex.justify-content-center.align-items-center
                    span.icon-card
                        i.fas.fa-male
                .position-absolute.w-100.h-100.p-3
                    h5.card-title.mb-4
                        | Derecho 
                        span.line civil
                    p.card-text.text-justify
                        | Contamos con un equipo de Abogados especializados en Derecho civil,
                        | los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
                        | policiales, fiscales y judiciales.
        // End service 2

        // Service 3
        .col-md-4
            .card.border-0(style='width: 100%;')
                .card-body.position-relative.d-flex.justify-content-center.align-items-center
                    span.icon-card
                        i.fas.fa-university
                .position-absolute.w-100.h-100.p-3
                    h5.card-title.mb-4
                        | Derecho 
                        span.line Constitucional
                    p.card-text.text-justify
                        | Contamos con un equipo de Abogados especializados en Derecho constitucional,
                        | los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
                        | policiales, fiscales y judiciales.
        // End service 3

        // Service 4
        .col-md-4
            .card.border-0(style='width: 100%;')
                .card-body.position-relative.d-flex.justify-content-center.align-items-center
                    span.icon-card
                        i.fas.fa-handshake
                .position-absolute.w-100.h-100.p-3
                    h5.card-title
                        | Derecho 
                        span.line comercial
                    p.card-text.lead.text-justify
                        | Contamos con un equipo de Abogados especializados en Derecho comercial,
                        | los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
                        | policiales, fiscales y judiciales.
        // End service 4

        // Service 5
        .col-md-4
            .card.border-0(style='width: 100%;')
                .card-body.position-relative.d-flex.justify-content-center.align-items-center
                    span.icon-card
                        i.fas.fa-leaf
                .position-absolute.w-100.h-100.p-3
                    h5.card-title.mb-4
                        | Derecho 
                        span.line ambiental
                    p.card-text.text-justify
                        | Contamos con un equipo de Abogados especializados en Derecho ambiental,
                        | los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
                        | policiales, fiscales y judiciales.
        // End service 5

        // Service 5
        .col-md-4
            .card.border-0(style='width: 100%;')
                .card-body.position-relative.d-flex.justify-content-center.align-items-center
                    span.icon-card
                        i.fas.fa-money-bill
                .position-absolute.w-100.h-100.p-3
                    h5.card-title.mb-4
                        | Derecho 
                        span.line tributario
                    p.card-text.text-justify
                        | Contamos con un equipo de Abogados especializados en Derecho tributario,
                        | los cuáles le brindarán asesoría especializada, fiabilidad y eficacia ante autoridades
                        | policiales, fiscales y judiciales.
        // End service 5
    // End card services
    // Mixin
    .text-center
        +button-contact('index.html#contact', 'Solicitar servicios')
// End services
