// Team
section.container.team.container-top.p-3
    .text-center
        h3.text-uppercase.mb-4
            | Nuestro 
            span.line equipo
        p.w-75.mx-auto.mb-5.lead
            | Contamos con los mejores abogados del país, especializados en áreas específicas del Derecho para
            | brindar
            | soluciones rápidas y efectivas.
    // Cards team
    .row
        .col-md-6.col-lg-4
            .card.border-0
                .card-body
                    .row
                        .col-md-4
                            img.img-fluid.rounded.card-image(src='images/team/a1.jpg', alt='Lorena Reyes')
                        .col-md-8.d-flex.flex-column
                            h5.card-title.pt-3.pt-md-0
                                | Lorena <!-- Importante mantener un espacio -->
                                span.line Reyes
                            p.card-text
                                | Especialista en Derecho Civil.
                            span.text-muted loreyes@lawfirm.com
        .col-md-6.col-lg-4
            .card.border-0
                .card-body
                    .row
                        .col-md-4
                            img.img-fluid.rounded.card-image(src='images/team/a2.jpg', alt='Fernando Mago')
                        .col-md-8.d-flex.flex-column
                            h5.card-title.pt-3.pt-md-0
                                | Fernando <!-- Importante mantener un espacio -->
                                span.line Mago
                            p.card-text
                                | Especialista en Derecho Penal.
                            span.text-muted fermago@lawfirm.com
        .col-md-6.col-lg-4
            .card.border-0
                .card-body
                    .row
                        .col-md-4
                            img.img-fluid.rounded.card-image(src='images/team/a3.jpg', alt='Jesús Coello')
                        .col-md-8.d-flex.flex-column
                            h5.card-title.pt-3.pt-md-0
                                | Jesús <!-- Importante mantener un espacio -->
                                span.line Coello
                            p.card-text
                                | Especialista en Derecho tributario.
                            span.text-muted jecoello@lawfirm.com
        .col-md-6.col-lg-4
            .card.border-0
                .card-body
                    .row
                        .col-md-4
                            img.img-fluid.rounded.card-image(src='images/team/a4.jpg', alt='Luis Maura')
                        .col-md-8.d-flex.flex-column
                            h5.card-title.pt-3.pt-md-0
                                | Luis <!-- Importante mantener un espacio -->
                                span.line Maura
                            p.card-text
                                | Especialista en Derecho Constitucional.
                            span.text-muted lumaura@lawfirm.com
        .col-md-6.col-lg-4
            .card.border-0
                .card-body
                    .row
                        .col-md-4
                            img.img-fluid.rounded.card-image(src='images/team/a5.jpg', alt='Fernando Molina')
                        .col-md-8.d-flex.flex-column
                            h5.card-title.pt-3.pt-md-0
                                | Fernando <!-- Importante mantener un espacio -->
                                span.line Molina
                            p.card-text
                                | Especialista en Derecho comercial.
                            span.text-muted fermolina@lawfirm.com
        .col-md-6.col-lg-4
            .card.border-0
                .card-body
                    .row
                        .col-md-4
                            img.img-fluid.rounded.card-image(src='images/team/a6.jpg', alt='Over Días')
                        .col-md-8.d-flex.flex-column
                            h5.card-title.pt-3.pt-md-0
                                | Over <!-- Importante mantener un espacio -->
                                span.line Díaz
                            p.card-text
                                | Especialista en Derecho ambiental.
                            span.text-muted ovedias@lawfirm.com
    // End cards team
    .text-center
        +button-contact('index.html#contact', 'Solicitar servicios')
// End team
