// About
.container.about
    .row
        .col-md-5.background-image.rounded.d-none.d-md-block
        .col-md-7.d-flex.flex-column.justify-content-between.px-5
            h3.mb-5
                | Sobre <!-- Importante dejar un espacio -->
                span.line nosotros
            p.text-justify.mb-3.lead
                | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            p.text-justify.mb-3.lead
                | Lorem Ipsum ha
                | sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T.
                | persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal
                | manera que logró hacer un libro de textos especimen.
            p.text-justify.mb-5.lead
                | El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al
                | contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
            a.btn.btn-primary.align-self-end(href='index.html#contact') Contactar
// End about
