// Comments
.container.comments
    .row
        .col-md-8
            form.d-flex.flex-column.justify-content-between(action='')
                .form-group
                    textarea.form-control.rounded-0(placeholder='Agrega un comentario')
                .form-group.align-self-end
                    input.btn.btn-primary(type='submit', value='Comentar')
// End comments
