// Features
.container.container-top.features
    .text-center
        h3.mb-4
            | Lo que nos <!-- Importante dejar un espacio -->
            span.line distingue
        p.lead.w-75.m-auto
            | Brindamos asesoría legal personalizada a personas naturales y jurídicas a nivel nacional e
            | internacional, siempre
            | orientado a objetivos rápidos y eficaces.
    // Cards
    .row.mt-5.d-flex.justify-content-center
        .col-md-5
            .card.border-0
                .card-body
                    .d-flex.justify-content-between.mb-1
                        h5.h5 Profesionales calificados
                        span.icon.mr-3
                            i.fas.fa-user-tie
                    p.lead.w-75.text-justify
                        | Nuestro equipo está conformado por profesionales
                        | expecializados.
        .col-md-5
            .card.border-0
                .card-body
                    .d-flex.justify-content-between.mb-1
                        h5.h5 Oficialmente premiados
                        span.icon.mr-3
                            i.fas.fa-medal
                    p.lead.w-75.text-justify
                        | Fuimos premiados por la más grande organización de abogados.
        .col-md-5
            .card.border-0
                .card-body
                    .d-flex.justify-content-between.mb-1
                        h5.h5 Servicio efectivo
                        span.icon.mr-3
                            i.fas.fa-gavel
                    p.lead.w-75.text-justify
                        | Nuestro equipo le asegura efectividad en sus casos.
        .col-md-5
            .card.border-0
                .card-body
                    .d-flex.justify-content-between.mb-1
                        h5.h5 Alcance global
                        span.icon.mr-3
                            i.fas.fa-globe-americas
                    p.lead.w-75.text-justify
                        | Nuestro equipo ha resuelto casos a nivel nacional e internacional.
    // End cards
    .text-center
        a.btn.btn-primary(href='index.html#contact') Obtener cita
// End features
