// Cover page
section.cover-page.w-100
    .content.w-100
        .container.pt-md-5
            .row.py-md-5
                .col-md-8.col-xl-6.d-flex.flex-column
                    h2.mt-5
                        | Bienvenido a 
                        b Law firm
                    .texts.pl-3.mb-md-4
                        p.lead.my-3
                            | Somos una firma de abogados constituída en Perú con una destacada trayectoria
                            | de más de 10 años.
                        p.lead
                            | Brindamos asesoría legal personalizada a personas naturales y jurídicas a nivel
                            | nacional.
                    a.btn.btn-primary.align-self-end.mr-2.mb-5(href='sobre-nosotros.html') Más información
// End cover page
