// Internships
section.internships.w-100
    .content.w-100
        .container.pt-md-5
            .row.py-md-5
                .col-md-8.col-xl-6.d-flex.flex-column
                    h2.mt-5
                        | Programa de 
                        b Pasantías
                    .texts.pl-3.mb-md-3
                        p.lead.my-3
                            | Nuestra firma brinda la oportunidad a jóvenes recién egresados o con poca experiencia
                            | a aplicar al programa de pasantías, donde aprenderán de nuestros expertos.
                    a.btn.btn-primary.align-self-end.mr-2.mb-5(href='pasantias.html#info') Aplicar
// End Internships

// Info internships
section#info.container-fluid.container-top.interships-info
    .row
        .col-md-6.info
            h3.mb-4.text-uppercase
                | Be
                span.line nefici
                | os
            ul
                li Realizar prácticas en el mejor estudio de abogados
                li Recibir mentoría de nuestros expertos
                li Horarios flexibles
                li Capacitaciones constantes
            h3.mb-4.text-uppercase
                | Re
                span.line quisit
                | os
            ul.mb-5
                li Mayores de 18 años
                li Estudiantes de últimos ciclos o recién egresados
                li Facilidad de palabra
                li Fluidez verbal
            p.lead
                | Para postular solo necesitas enviar tu correo electrónico, te contactaremos de
                | inmediato.
            form.form-inline
                .form-group.mb-2.w-75
                    input#inputPassword2.form-control.rounded-0.w-100(type='text', required='', placeholder='Correo electrónico')
                button.btn.btn-primary.mb-2(type='submit') Postular
        .col-md-6.d-none.d-md-block.background
// End info internships

