// Header
header#header.header.bg-white.fixed-top
    .container.d-flex.justify-content-between.flex-wrap.p-3.p-md-0.pt-md-3.border-bottom
        p.ml-3.pr-md-5.border-right.contact-info
            span.icon.mr-1
                i.far.fa-envelope
            span.text-muted
                | lawfirm@mail.com
        p.pr-md-5.border-right.contact-info
            span.icon.mr-1
                i.fas.fa-phone
            span.text-muted
                | 01 2795457
        p.pr-md-5.border-right.contact-info
            span.icon.mr-1
                i.fas.fa-map-marker-alt
            span.text-muted
                | Av Jose Larco 453-497, Miraflores
        .social
            include icons-social-networks
    nav#navbar.navbar.navbar-expand-lg.bg-white
        .container.p-0
            a.navbar-brand.mr-0(href='index.html')
                img(src='images/logo.png', alt='logo', width='200px')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                i.fas.fa-align-justify
            #navbarSupportedContent.collapse.navbar-collapse.text-center
                ul.navbar-nav.mx-auto.d-flex.justify-content-between
                    li.nav-item
                        a.nav-link(href='index.html') Inicio
                    li.nav-item
                        a.nav-link(href='sobre-nosotros.html') Sobre nosotros
                    li.nav-item
                        a.nav-link(href='index.html#services') Servicios
                    li.nav-item
                        a.nav-link(href='pasantias.html') Pasantías
                    li.nav-item
                        a.nav-link(href='blog.html') Blog
                a.btn.btn-outline-primary.my-2.my-sm-0(href='index.html#contact') Contacto
// End header
