// Newsletter
h5.h5.text-uppercase.mb-3
    
    | Bo
    span.line let
    | ín
p.text-justify.lead
    | Suscríbase a nuestro boletín y sea el primero en conocer las últimas noticias,
    | eventos sobre nuestra empresa.
form(action='')
    .form-group
        input.form-control.rounded-0(type='text', required='', placeholder='Correo electrónico')
    .form-group
        input.btn.btn-block.btn-primary(type='submit', value='Suscribirme')
// End Newsletter