extends utilities/template

append config
    - pageTitle = 'Bienvenido'

block content
    include components/index-cover-page
    include components/services
    include components/team
    include components/testimonies
    include components/contact