extends utilities/template

append config
    - pageTitle = 'Bienvenido'

block content
    include components/index/cover-page
    include components/index/services
    include components/index/team
    include components/index/testimonies
    include components/index/contact
    // Recent posts
    .container.container-top.recent-posts
        h3.text-center.mb-5
            | Visita nuestro <!-- Importante dejar espacio -->
            span.line
                | blog
        .row
            .col-md-4
                // Post
                +mini-post('images/carousel-background.jpg', 'Cambios en la constitución política')
                // End post
            .col-md-4
                // Post
                +mini-post('images/internships.jpg', 'Convocatoria abierta para pasantías en Law firm')
                // End post
            .col-md-4
                // Post
                +mini-post('images/cover-page.jpg', 'Coimas a nivel empresarial ahora serán sancionadas penalmente')
                // End post
    // End recent posts
