
<!-- Info internships-->
<section class="container-fluid container-top interships-info" id="info">
  <div class="row">
    <div class="col-md-6 info">
      <h3 class="mb-4 text-uppercase">Be<span class="line">nefici</span>os</h3>
      <ul>
        <li>Realizar prácticas en el mejor estudio de abogados</li>
        <li>Recibir mentoría de nuestros expertos</li>
        <li>Horarios flexibles</li>
        <li>Capacitaciones constantes</li>
      </ul>
      <h3 class="mb-4 text-uppercase">Re<span class="line">quisit</span>os</h3>
      <ul class="mb-5">
        <li>Mayores de 18 años</li>
        <li>Estudiantes de últimos ciclos o recién egresados</li>
        <li>Facilidad de palabra</li>
        <li>Fluidez verbal</li>
      </ul>
      <p class="lead">
        Para postular solo necesitas enviar tu correo electrónico, te contactaremos de
        inmediato.
      </p>
      <form class="form-inline">
        <div class="form-group mb-2 w-75">
          <input class="form-control rounded-0 w-100" id="inputPassword2" type="text" required="" placeholder="Correo electrónico"/>
        </div>
        <button class="btn btn-primary mb-2" type="submit">Postular</button>
      </form>
    </div>
    <div class="col-md-6 d-none d-md-block background"></div>
  </div>
</section>
<!-- End info internships-->