// Internships
section.internships.w-100
    .content.w-100
        .container.pt-md-5
            .row.py-md-5
                .col-md-8.col-xl-6.d-flex.flex-column
                    h2.mt-5
                        | Programa de 
                        b Pasantías
                    .texts.pl-3.mb-md-3
                        p.lead.my-3
                            | Nuestra firma brinda la oportunidad a jóvenes recién egresados o con poca experiencia
                            | a aplicar al programa de pasantías, donde aprenderán de nuestros expertos.
                    a.btn.btn-primary.align-self-end.mr-2.mb-5(href='pasantias.html#info', onclick="$('#info').animatescroll();") Aplicar
// End Internships

