/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
.header {
  font-family: "Lato", sans-serif; }
  .header .contact-info p {
    font-size: .9em; }
  .header .navbar .navbar-nav {
    width: 60%; }
  .header .navbar .nav-link {
    font-size: .85em;
    color: #434445 !important;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .9; }
    .header .navbar .nav-link:hover {
      color: #505cfd !important; }
