form.form-inline.mb-5.d-none.d-md-block(action='')
    .form-group.w-100
        input.form-control.rounded-0.w-75(type='text', placeholder='Buscar en el blog')
        button.btn.btn-primary(type='submit')
            i.fas.fa-search
h5.h5.text-uppercase.mt-5.mb-3
    | Publicaciones <!-- Importante dejar un espacio -->
    span.line recientes
.recent-posts.my-5
    .border-bottom.mb-3
        a(href='#')
            p.text-justify.m-0
                | Últimos cambios en la constitución política
        p.card-text.d-inline.text-muted
            span.icon.mr-1
                i.far.fa-clock
            small Hace 5 minutos
    .border-bottom.mb-3
        a(href='#')
            p.text-justify.m-0
                | Se abrió convocatoria para pasantías en Law firm
        p.card-text.d-inline.text-muted
            span.icon.mr-1
                i.far.fa-clock
            small Hace 5 minutos
    .border-bottom.mb-3
        a(href='#')
            p.text-justify.m-0
                | Coimas a nivel empresarial ahora serán sancionadas penalmente
        p.card-text.d-inline.text-muted
            span.icon.mr-1
                i.far.fa-clock
            small Hace 5 minutos
